################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RijndaelCryptography/bin
/RijndaelCryptography/obj/Debug
/RijndaelCryptography.Framework/bin/Debug
/RijndaelCryptography.Framework/obj/Debug
